.pic-container {
    background: white;
    //padding-top: 10px;
}

.broadcom {
    width: 170px;
    height: 90px;
}

.cbo-text {
    margin-left: 300px;
    font-size: 28px;
}

.connects-count-header {
    height: 60vh;
}

.connects-count-header-left {
    text-align: center;
    background-color: #ffffff;
}

.connects-count-header-right {
    text-align: center;
    background-color: #ffffff;
}

.mat-toolbar.mat-primary {
    background-color: black;
}

.fields-spacing {
    margin-top: 80px;
}

.buttons-spacing {
    margin-bottom: 15px;
}

.chart {
    //margin: 5px 20px 15px auto; 
    display: block;
    width: 120px;
    //border: 1px solid black;
}

.number {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 500%;
    font-weight: 600;
    color: rgb(0, 255, 238);
}

.month-year {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 100%;
    font-weight: 500;
    color: rgb(0, 255, 238);
}

.my-connects {
    margin-top: 20px;
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 550;
}

.black-band {
    width: 98%;
    margin-left: 20px;
    height: 8vh;
    background-color: rgb(35, 34, 34);
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}

.title-text {
    text-align: left;
    margin-left: 22px;
    font-size: 15px;
    margin-top: 10px;
}
.completed-connects {
    width: 80%;
    height: 13vh;
    background-color: #ffffff;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid white;
    box-shadow: 5px 10px #fefefe;
}

.mat-icon {
    font-size: 40px;
}

.number-of-connects {
    font-weight:700;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 10px;
    vertical-align: middle;
}

.text-connects {
    font-weight:700;
    font-size: 16px;
    text-align: end;
    padding-left: 30px;
}
.view-details {
    text-align: end;
    font-style: italic;
    margin-right: 5px;
}

.my-connects-orange {
    margin-top: 20px; 
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    color: #7b3c0f;
    background-color: #d2c09f;
    font-weight: 600;
    cursor: pointer;
}

.my-connects-red {
    margin-top: 20px; 
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    color: red;
    background-color: #d2a39f;
    font-weight: 600;
    cursor: pointer;
}

.my-connects-grey {
    margin-top: 20px; 
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    color: rgb(47, 46, 46);
    background-color: #969090;
    font-weight: 600;
    cursor: pointer;
}

.chart {
    //margin: 5px 20px 15px auto; 
    display: block;
    width: 120px;
    //border: 1px solid black;
}

.main-text {
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 150%;
    font-weight: 500;
    color: white;
    text-align: left;
}

.mat-tab-group {
    width: 90% !important;
    height: 100vh !important;
    margin: 10px auto;
}

:host ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  
  }
  
:host ::ng-deep .mat-tab-body.mat-tab-body-active {
    height: 100%;
  
}

.copyright {
    background-color: #dbdada;
    height: 100px;
    margin-top: 20px;
}